html {
    height: 100%;
}
body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;    
    color: #2b2b2b;
    height: 100%;
    background: #fff;
}
#main-container {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
    border: 1px solid #ecebf1;
}

header {
    background: #eeedf3;
    color: #848388;
    text-align: center;
    min-height: 54px;
    line-height: 54px;
    font-size: 1.5em;
}
.flex-row {
	display: flex;
    flex-direction: row;
	width: 100%;
    /*height: 60px;*/
	max-width: 600px;
	margin-left: auto ;
	margin-right: auto ;
    border-top: 1px solid #ecebf1;    
}

.flex1 {
    flex: 1 0px;
}
.flex2 {
    flex: 2 0px;
}
.align-middle-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.align-middle-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;    
}
.align-middle-center {
  display: flex;
  align-items: center;
  justify-content: center;    
}


.cell {
	/*margin: 4px 0 4px 0;*/
    min-height: 54px;
    
}


.description {
	width: 2%;
	text-align: right;
}
.caption {
    border: 3px solid #848388;
    color: #848388;
    padding: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
}
.caption:hover {
    background: #007aff;
    color: #fff;
    padding: 13px;
    border: none;
    -webkit-transition: background, color 0.25s;
    -moz-transition: background, color 0.25s;
    -o-transition: background, color 0.25s;
    transition: background, color 0.25s;    
}
.control {
	width: 2%;
	padding: 0 10px 0 10px;
	text-align: center;
}
.indicator {
	width: 2%;
}


/* Range slider */
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: #007aff;
    background: -moz-linear-gradient(left, #007aff 0%, #207cca 0%, #dddddd 0%);
    background: -webkit-linear-gradient(left, #007aff 0%,#207cca 0%,#dddddd 0%);
    background: linear-gradient(to right, #007aff 0%,#207cca 0%,#dddddd 0%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007aff', endColorstr='#dddddd',GradientType=1 );
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #fff;
    margin-top: -10px;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {

    
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    background: #007aff;
    background: -moz-linear-gradient(left, #007aff 0%, #207cca var(--slider-perc), #dddddd var(--slider-perc));
    background: -webkit-linear-gradient(left, #007aff 0%,#207cca var(--slider-perc),#dddddd var(--slider-perc));
    background: linear-gradient(to right, #007aff 0%,#207cca var(--slider-perc),#dddddd var(--slider-perc));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007aff', endColorstr='#dddddd',GradientType=1 );
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: #fff;
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}
.slider-control-disabled::-moz-range-thumb {
    width: 0px !important;
    height: 0px !important;
}
.slider-control-disabled::-webkit-slider-thumb {
    width: 0px !important;
    height: 0px !important;    
}

/* Toggle switch */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input.cmn-toggle-round + label {
  padding: 2px;
  width: 80px;
  height: 40px;
  background-color: #dddddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 42px;
  background-color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 44px;
}
.switch-wrap {
    margin: 5px;
}

/* LED */
.led {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 5px;
    background-color: none;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;    
    border: 2px solid #ddd;    
        
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;    
}
.led-on {
    background-color: #ff5e3a;
    color: white;
    border: none !important;    
}

/* Value box */
.value-box {
    width: 10%;
    height: 90%;
    border: none;
    margin: 5px;
    background: none;
    font-weight: 700;
    color: #848388;
    text-align: center;
}
